# This is a basic workflow to help you get started with Actions

name: default
on:
  workflow_dispatch:
  # Build every 7 days
  # schedule:
  #   - cron: "0 0 * * 0"

jobs:
  build:
    runs-on: self-ubuntu-22.04

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup GitHub CLI
      run: |
        (type -p wget >/dev/null || (sudo apt update && sudo apt install wget -y)) \
          && sudo mkdir -p -m 755 /etc/apt/keyrings \
          && out=$(mktemp) && wget -nv -O$out https://cli.github.com/packages/githubcli-archive-keyring.gpg \
          && cat $out | sudo tee /etc/apt/keyrings/githubcli-archive-keyring.gpg > /dev/null \
          && sudo chmod go+r /etc/apt/keyrings/githubcli-archive-keyring.gpg \
          && sudo mkdir -p -m 755 /etc/apt/sources.list.d \
          && echo "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/githubcli-archive-keyring.gpg] https://cli.github.com/packages stable main" | sudo tee /etc/apt/sources.list.d/github-cli.list > /dev/null \
          && sudo apt update \
          && sudo apt install gh -y
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Create layers
      run: |
        # Install tools
        sudo apt install -y jq wget tar xz-utils pv git pcregrep fuse3 python3 p7zip-full
        # Enable fuse
        # sudo modprobe fuse
        # Custom packages
        mkdir -p bin
        export PATH="$(pwd)/bin:$PATH"
        wget -q --show-progress --progress=dot:binary -O bin/jq \
          https://github.com/jqlang/jq/releases/download/jq-1.7/jq-linux-amd64
        chmod +x ./bin/*
        # Build packages
        ./build.sh
        # Generate fetch JSON
        ./fetch.py gameimage-2.0.x > dist/gameimage-2.0.x.json
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Set permissions for dist directory
      run: |
        sudo chown -R "$(id -u)":"$(id -g)" dist/
        sudo chmod -R 766 dist/

    - name: Upload artifact to release
      uses: actions/upload-artifact@v4
      with:
        name: artifacts_build
        path: dist

    - name: Compute Short SHA
      id: ssha
      run: |
        echo "ssha=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

    outputs:
      ssha: ${{ steps.ssha.outputs.ssha }}

  release:
      permissions: write-all
      needs: [build]
      runs-on: ubuntu-latest

      steps:
        - uses: actions/download-artifact@v4
          with:
            name: artifacts_build
            path: dist

        - name: release
          uses: marvinpinto/action-automatic-releases@latest
          with:
            title: continuous gameimage-2.0.x
            automatic_release_tag: gameimage-2.0.x
            prerelease: false
            draft: false
            files: |
              dist/*
            repo_token: ${{ secrets.GITHUB_TOKEN }}
